@import "index.css"; 
   
 h1 { 
     color:green;    
 } 
   
.css1 { 
     color:black; 
     background-image: linear-gradient(to right, #DFF1DF, #11A00C); 
     position:static;    
 } 
body, html {
  height: 100%;
}
table {
  border: 1px solid #000;
background-color: #ccc;
}
tr {
  background-color: #ddd;
}
td {
  background-color: #eee;
  border-color: 1px solid #fff;
}
