
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SARDEGNA RICETTE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <button type="button" class="btn btn-primary btn-lg btn-block">THIS IS HOMEPAGE</button>
      <div class="jumbotron">

        <h1>RICETTE SARDE E NON SOLO</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a></p>
      </div>
      <div class="card-body">
            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img class="img-responsive img-circle" src="../static/cullurgiones.jpg"  alt="no image">
                  <h5 class="card-title">is cullurgines</h5>
                  <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                  <a  href="showSignUp" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img class="img-responsive img-circle" src="../static/burrida.jpg"  alt="no image">
                  <h5 class="card-title">burrida casteddaia</h5>
                  <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                  <a href="showSignUp" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>

      <footer class="footer">
        <p>&copy; Company 2020</p>
        
      </footer>

    </div>
  </body>
</html>
 
 